.main {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.main__header {
  width: 100%;
}
.main__header__inner {
  width: 272px;
  height: 309px;
}
.main__header__inner__avatar {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.main__socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.55);
}

.main__socialMedia__icon {
  margin: 10px;
}
.main__socialMedia__icon a:visited {
  color: rgba(255, 255, 255, 0.55);
}
.main h1 {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.75em;
  font-weight: bolder;
}
.main h1 strong {
  color: #ffffff;
}
@media (max-width: 480px) {
  .main__header {
    padding: 4.5em 1.5em;
  }
}
@media (max-width: 736px) {
  .main h1 {
    font-size: 1.35em;
  }
}
