* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.header {
  font-family: "Montserrat", sans-serif;
  background-image: url("../../img/background/background.jpg");
  background-size: cover;
  flex-direction: column;
  padding: 25% 15% 15% 15%;
}
.profile-block {
  display: block;
  margin-bottom: 30px;
}
.profile-block__avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 10px 0 10px;
  margin-top: 25%;
  color: rgba(255, 255, 255, 0.55);
}
.social-media-icon {
  margin: 10px;
  color: #ffffff;
}
.social-media-icon__link,
.social-media-icon__link:visited {
  color: #8e8884;
}
.profile-block__description {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 400;
  vertical-align: baseline;
  line-height: 1.75em;
  font-weight: bolder;
}
.profile-block__description strong {
  color: #ffffff;
}
@media (max-width: 320px) {
  .header {
    height: 90%;
    padding: 45px 15px 55px 15px;
  }
  .profile-block__avatar {
    height: 130px;
    width: 130px;
  }
  .social-media {
    margin-top: 0;
    padding-top: 0;
  }
}
@media (max-width: 736px) {
  .profile-block__description {
    font-size: 1.35em;
  }
}
@media (max-width: 375px) {
  .profile-block__avatar {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 25% 10% 0 10%;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 0;
  }
  .profile-block {
    width: 90%;
    padding-top: 120px;
  }
  .profile-block__avatar {
    margin-right: -40px;
  }
  .profile-block__description {
    font-size: 1.35em;
    text-align: right;
    margin: 15px 10px;
  }
}
