.App {
  text-align: center;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* 
a:visited {
  color: #8e8884;
} */
@media (min-width: 1024px) {
  .App {
    display: flex;
    flex-direction: row;
  }
}
